.index-body{
    background-image: url("images/2gb4.jpg");
    background-attachment: fixed;
    text-align: center;
    background-size:cover;
}
.music-body{
    background-image: url("images/2gb5.jpg");
    background-attachment: fixed;
    text-align: center;
    background-size:cover;
}
.links-body{
    background-image: url("images/2gb3.jpg");
    background-attachment: fixed;
    text-align: center;
    background-size: cover;
}
body, html {
    background: url(images/bg.jpg) no-repeat center center fixed;
    background: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}
body::-webkit-scrollbar{
    display: none;
}
li{
    list-style: none;
}
#parallax {
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: center;
}


#header{}


#layer{}


.navbar-nav{
    display: flex;
    flex-direction: column;
    padding-left: 65%;
    align-items: self-end;
    list-style: none;
}
.first{
    background-image: url("images/moon.png");
}
hr.hr{
    height: 45px;
    background-size: 140px;
    background-repeat: repeat-x;
    background-image: url('images/Asset 2.png');
    width: 100%;
    object-fit: scale-down;
    opacity: 1;
    background-color: transparent;
    position: relative;
    top: -38px;
}
hr.hr1 {
    height: 10%;
    background-image: url('images/border.png');
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    opacity: 1;
    mix-blend-mode: color;
}
hr.hr2 {
    height: 10%;
    background-image: url('images/border.png');
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    opacity: 1;
    mix-blend-mode: color;
}
.navbar{
    height: 185px;
    background-image: url('images/explode_text_effect.svg');
    background-size: 38%;
    background-position: left center;
    background-repeat: no-repeat;
    padding: 0 0 0 0 ;
}
.navbar-toggler{
    margin-left:auto;
}
audio{
    display: block;
    padding: 0 0 25px 0 ;
}
a.nav-link{
}
a.navbar-brand{
    font-family: 'Cinzel', serif;
    font-size: 5rem;
    padding-left: 100px;
    padding-top: 100px;
}
.player{
    display:block;
}
.navbar-collapse{
}
.nav-item{
  padding: 0 7% 0 0;
}
.navbar-nav{
    position: absolute;
    right: 20%;
}
.nav-link{
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    font-weight: 300;
    color:white;
}

.container-fluid{
    background-image: url('images/7.jpg');
    background-size: 102%;
}

.wtf{

}
.names{
    font-family: 'Cinzel', serif;
    font-size: 3rem;
    line-height:3;
    color: #fff;
  }

.wwy{

}
.dir{

}
.spanky{

}
.goodbye{

}
.music-background{
    text-align: center;

}
.music-players{
    text-align: -webkit-center;
}

iframe{
}
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
@media(min-width: 576px){
    .nav-link{
        padding-top: 100px;
    }
}
p{
    text-width: 500px;
    color: #fff;
    font-size:2.5rem;
}

.about{
    margin: auto;
    width:500px;
}

.icons{
    text-decoration: none;
    color: white;
    opacity:.55;
    padding: 0 10px;
    font-size: 3rem;
}
.box{
    font-family: 'Cinzel', serif;
    font-size: 3rem;
    color: white;
    text-align: -webkit-center;
}

.hand{
        width: 500px;
    height: 800;
    position: relative;
    right: -697px;
    display: inline-block;
    bottom: 437px;
}

.splat{
    width: 400px;
}