#index-body{
    background-image: url("images/main-page.jpg");
    text-align: center;
  background-size:contain;
}
#music-body{
    background-image: url("images/spacey.jpg");
    text-align: center;
    background-size:contain;
}
#links-body{
    background-image: url("images/links.jpg");
    text-align: center;
  background-size: contain;
}
body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: inherit;

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}
#header{
    background-color: fff;
}

.navbar{
    height:180px;
}
hr{
position: relative;
    top:-20px;
    border: solid;
    line-height: 2;
    color: white;
    opacity: .66;
}
audio{
    display: block;
    padding: 0 0 25px 0 ;
}
a.nav-link{
    padding-top: 100px;
}
a.navbar-brand{
    font-family: 'Cinzel', serif;
    font-size: 5rem;
    padding-left: 100px;
    padding-top: 100px;
}
.player{
    display:block;
}
.navbar-collapse{
    padding-bottom: 50px;
}
.nav-item{
  padding: 0 25px 0 25px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 300;
}

.container-fluid{
    background-color:black;
}
.wtf{

}
.names{
    font-family: 'Cinzel', serif;
    font-size: 3rem;
    line-height:3;
    color: #fff;
  }

.wwy{

}
.dir{

}
.spanky{

}
.goodbye{

}
.music-background{
    background-image: url("images/spacey.jpg");
    text-align: center;
    background-size: cover;

}
.music-players{
    text-align: -webkit-center;
}

iframe{
    margin:100px 0 100px 0;
}
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

p{
    text-width: 500px;
    color: #fff;
    font-size:2.5rem;
}

.about{
    margin: auto;
    width:500px;
}

.icons{
    text-decoration: none;
    color: white;
    opacity:.55;
    padding: 0 10px;
    font-size: 3rem;
}
.box{
    padding-bottom: 3rem;
}

