.index-body {
    background-image: url("images/2gb4.jpg");
    background-attachment: fixed;
    text-align: center;
    background-size:cover;
}
.music-body {
    background-image: url("images/2gb5.jpg");
    background-attachment: fixed;
    text-align: center;
    background-size:cover;
}
.links-body {
    background-image: url("images/2gb3.jpg");
    background-attachment: fixed;
    text-align: center;
    background-size: cover;
}
body, html {
    background: url(images/bg.jpg) no-repeat center center fixed;
    background: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}
body::-webkit-scrollbar {
    display: none;
}
li {
    list-style: none;
}
#parallax {
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: center;
}


#header{}


#layer{}


.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 65%;
    align-items: self-end;
    list-style: none;
    padding-top:50px;
}
.first {
    background-image: url("images/moon.png");
}
hr.hr {
    height: 45px;
    background-size: 140px;
    background-repeat: repeat-x;
    background-image: url('images/blade2.png');
    width: 100%;
    object-fit: scale-down;
    opacity: 1;
    background-color: transparent;
    position: relative;

    top: -38px;
}
hr.hr1 {
    height: 10%;
    background-image: url('images/border.png');
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    opacity: 1;
    mix-blend-mode: overlay;
}
img.three {
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
.centered {
    align-items: center;
}
.logo {
    width: 40%;
    min-width: 400px;
    max-width: 680px;
    display: inline-block;
    margin-top: 2em;
}
.current{
    color: #ff2222;

}
hr.hr2 {
    height: 10%;
    background-image: url('images/border.png');
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    opacity: 1;
    mix-blend-mode: overlay;
}
.navbar {
}
.navbar-toggler {
    margin-left:auto;
}
audio {
    display: block;
    padding: 0 0 25px 0 ;
}
a.nav-link {
}
a.navbar-brand {
    font-family: 'Cinzel', serif;
    font-size: 5rem;
    padding-left: 100px;


}
.player {
    display:block;
}
@media (max-width: 575px){

    .logo{
        margin-left: auto;
        margin-right: auto;
    }
}
.navbar-collapse {
}
.nav-item {
  padding: 0 7% 0 0;
}
.navbar-nav {
    position: absolute;
    right: 20%;
}
.nav-link {
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    font-weight: 300;
    color:white;
}

.container-fluid {
    background-image: url('images/7.png');

    background-size: cover;
}

.wtf {

}
.names {
    font-family: 'Cinzel', serif;
    font-size: 3rem;
    line-height:3;
    color: #fff;
  }

.wwy {

}
.dir {

}
.spanky {

}
.goodbye {

}
.music-background {
    text-align: center;

}
.music-players {
    text-align: -webkit-center;
}

iframe {
}
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
@media(min-width: 576px){
    .navbar-nav{
        padding-top: 100px;
        bottom: 25px;
    }
}
p {
    text-width: 500px;
    color: #fff;
    font-size:2.5rem;
}

.video {
    box-shadow: 17px 20px 20px 0px black;
}

.about {
    margin: auto;
    width:500px;
}

.icons {
    text-decoration: none;
    color: white;
    opacity:.55;
    padding: 0 10px;
    font-size: 3rem;
}
.box {
    font-family: 'Cinzel', serif;
    font-size: 3rem;
    color: white;
    text-align: -webkit-center;
}

.hand {
    width: 500px;
    height: 800;
    position: relative;
    right: -697px;
    display: inline-block;
    bottom: 437px;
}

.splat {
    width: 400px;
}

.album {
    display: block;
    width: 50%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    box-shadow: 17px 20px 20px 0px black;
}