{% include 'header.html' %}
    <section class="about">
        <p>
            Inertia was founded in Southern California in early 2002 with Vincent Fernandez,
            John Oden and Arthur Rodriguez. Playing with reckless abandon and with a zeal for attention,
            Inertia quickly became the local mosh-able must-see metal group around, playing original
            bone crusing tunes such as 'Dun Dun Dun Dun' and 'Where Were You?'.
        </p>
        <p>Inertia is currently in the studio working on their long awaited full length record.</p>
    </section>
    <hr class="hr2">
{% include 'footer.html' %}