{% include 'header.html' %}
    <hr class="hr">
    <img src="static/css/images/bluealbum.jpg" alt="" class="album">
    <hr class="hr2">
    <div class="box wwy">
        Where Were You
        <audio controls><source src = "static/music/wwy.mp3" class = "player"></audio>
    </div>

    <hr class="hr2">

    <div class="box wtf">
        What The Fuck
        <audio controls><source src = "static/music/wtf.mp3" class = "player"></audio>
    </div>

    <hr class="hr2">

    <div class="box dir">
        Dreaming in Reverse
        <audio controls><source src = "static/music/dir.mp3" class = "player"></audio>
    </div>

    <hr class="hr2">

    <div class="box spanky">
        Spanky
        <audio controls><source src = "static/music/Spanky.mp3" class = "player"></audio>
    </div>

    <hr class="hr2">

    <div class="box goodbye">
        Goodbye
        <audio controls><source src = "static/music/BooGye.mp3" class = "player"></audio>
    </div>

    <hr class="hr2">

{% include 'footer.html' %}